<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
    background-color: khaki;
}

#welcome {
    padding-left: 10%;
    border-radius: 5px;
    background-color: seashell;
}

#latest {
    padding-top: 20px;
}

#data {
    padding-top: 10%;
}

</style>
<body>

<h1 id="welcome">Welcome to your auto-backup stats</h1>
<div id="latest"><h2>Your latest backup: </h2></div>
<div id="data">
   
    {{ data }}

</div>

</body>
</html>