<!DOCTYPE html>
<html>
<head>
<script src="{{url_for('static', filename='main.js')}}"></script>
</head>

{{url_for('static', filename='main.js')}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
    background-color: khaki;
}

#welcome {
    padding-left: 10%;
    border-radius: 5px;
    background-color: seashell;
}

#latest {
    padding-top: 10px;
}

#data {
    padding-top: 50px;
}

.data-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table thead tr {
    background-color: #009879;
    color: #ffffff;
}


</style>
<body>

<h1 id="welcome">Welcome to your auto-backup stats</h1>
<div id="data">
   
    <center><table class="data-table">
        <thead>
            <tr>
            <th>timestamp</th>
            <th>action</th>
            <th>details</th>
            <th>SHARED?</th>
            </tr>
        </thead>
        <tr>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
        </tr>
        <tbody>
        {% for entry in  data.values() %}
        <tr>
            {% for e in entry %}
            <td value="{{ e }}">{{ e }}</td>
            {% endfor %}
            {{ entry }}
            <td><button data-row='{{ entry }}' onclick='share("{{ entry }}")'>SHARE</button></td>
        </tr>
        <tr>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
            <td><b>-------</b></td>
        </tr>
        {% endfor %}

    </table></center>

</div>

</body>
</html>